[submodule "lib/commonlibsse"]
	path = lib/commonlibsse
	url = https://github.com/libxse/commonlibsse.git
[submodule "lib/skse"]
	path = lib/skse
	url = https://github.com/ianpatt/skse64.git
[submodule "lib/papyrus-extender"]
	path = lib/papyrus-extender
	url = https://github.com/powerof3/PapyrusExtenderSSE.git
[submodule "lib/papyrus-extender-tweaks"]
	path = lib/papyrus-extender-tweaks
	url = https://github.com/powerof3/po3-Tweaks.git
[submodule "lib/db-skse-functions"]
	path = lib/db-skse-functions
	url = https://github.com/Dylbill-Iroh/DbSkseFunctions.git
[submodule "lib/papyrus-util"]
	path = lib/papyrus-util
	url = https://github.com/eeveelo/PapyrusUtil.git
[submodule "lib/skyui-community"]
	path = lib/skyui-community
	url = https://github.com/doodlum/SkyUI-Community.git
